# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/Emision/v16/.suo
.cache
Api.Data/obj/Debug/Api.Data.csproj.AssemblyReference.cache
Api.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Contract/obj/Debug/Contract.csproj.AssemblyReference.cache
Contract/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EmisionWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EmisionWeb/obj/Debug/EmisionWeb.csproj.AssemblyReference.cache
Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Model/obj/Debug/Model.csproj.AssemblyReference.cache
ServicioBussines/obj/Debug/Bussines.csproj.AssemblyReference.cache
ServicioBussines/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServicioEmision/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServicioEmision/obj/Debug/EmisionService.csproj.AssemblyReference.cache
ServicioTimbrado/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServicioTimbrado/obj/Debug/TimbradoService.csproj.AssemblyReference.cache
TestConsola/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestConsola/obj/Debug/TestConsola.csproj.AssemblyReference.cache
TestForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestForm/obj/Debug/TestForm.csproj.AssemblyReference.cache
